body
{
  margin: 0px;
  background-color: #1A2125;
  color: #FFFFFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

h1.logo
{
  font-size: 55px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 50px;
  margin-bottom: 40px;
  color: #DB202C;
  font-family: 'Fascinate', cursive;
}

nav
{
  background-color: #DB202C;
  text-align: center;
}

.menu
{
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  font-size: 18px;
  min-height: 20px;
  line-height: 100%;

}

.menu > li
{
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px dashed #FFFFFF;
}

.menu > li:first-child
{
  border-left: 1px dashed #FFFFFF;
}

.menu a
{
  color: #FFFFFF;
  text-decoration: none;
}

.menu a:hover
{
  color: #830404;
  text-decoration: none;
}

.menu a:visited
{
  color: #FFFFFF;
  text-decoration: none;
}

.categories
{
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  text-align: center;
  padding: 0px;
}

h1
{
  font-size: 30px;
  font-weight: 400;
  color: #DB202C;
  margin-bottom: 20px;
}

p
{
  text-align: justify;
}

.author
{
  float: left;
}

.author a
{
  opacity: 0.8;
}

.author a:hover
{
  opacity: 1;
}

figure
{
  margin: 5px;
  padding: 0;
}

.entries
{
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
